<div id="inputform" imgur-drop>
  <div class="input-group">
    <div id="{{inputId}}" class="form-control favorite-font" contenteditable="true" ng-focus="hideSidebar()" ng-paste="inputPasted($event)"></div>
    <span class="input-group-btn">
      <button class="btn btn-complete-nick unselectable mobile" title="Complete nick" ng-click="handleCompleteNickButton($event)"><i class="glyphicon glyphicon-bullhorn"></i></button>
      <button type="button" class="btn btn-send-image unselectable" title="Send image" ng-click="pickImage()"><i class="glyphicon glyphicon-picture"></i></button>
      <button type="button" class="btn btn-send unselectable" title="Send" ng-click="sendMessage()"><i class="glyphicon glyphicon-send"></i></button>
    </span>
  </div>
  <div id="imgur-upload-progress"></div>
</div>
